.Contact {
  text-align: center;
}

h1 {
  font-size: 2.5em;
  font-weight: bold;
}

h2 {
  font-size: 2em;
  font-style: italic;
}

#headText {
  margin-bottom: 50px;
}

p {
  margin-bottom: 35px;
}

a {
  color: #4d5791;
}
